@font-face {
    font-family: dens;
    src: url(../../resources/fonts/dens.otf);
}

@font-face {
    font-family: panama;
    src: url(../../resources/fonts/Panama.otf);
}


html,body{
    position: relative;
    height: 100%;
    font-family: panama;
    color:white;
}

.login-container{
    position: relative;
    width: 300px;
    text-align: center;
    background: #fff;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}



#output.alert-danger{
    background: rgb(228, 105, 105);
}

.logo{
  max-width: 200px;
  margin-bottom: 20px;
}



.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border: 2px solid #aaa;
    background-size: cover;
    background: url("../../dens_logo.png");
}

.form-input{

    font-family: dens;
    margin-bottom: 5px;
    width: 100%;
    padding: 10px;
    text-align: left;
    height:40px;
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #ffffff 0%, #aeb3b8 100%);
      -webkit-border-image: -webkit-linear-gradient(top left, #ffffff 0%, #aeb3b8 100%);
      border-image: linear-gradient(to bottom right, #ffffff 0%, #aeb3b8 100%);
      border-image-slice: 15%;
    background: #fafafa;
    transition:0.2s ease-in-out;
    color: #41484c;

}

.form-input:focus{
    outline: 0;
    border: 1px solid transparent;
    -moz-border-image: -moz-linear-gradient(top left, #ffffff 0%, #0598d8 100%);
      -webkit-border-image: -webkit-linear-gradient(top left, #ffffff 0%, #0598d8 100%);
      border-image: linear-gradient(to bottom right, #ffffff 0%, #0598d8 100%);
      border-image-slice: 15%;
    background: #fafafa;

}




.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.btn-info {
    color: #fff;
    background-color: #3672a9;
}

.btn {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    font-family: panama;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0px;
}

.btn-block {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open .dropdown-toggle.btn-info {
    background-color: #42a8d4;
}
.navbar{
    margin-bottom: 0px;
}

.navbar-blue{
    background-color: rgb(117, 175, 224);
}

.navbar-gray{
    background-color: rgba(0, 6, 10, 0.05);
}

.form-control{
    height: 32px;
    margin-right:10px;
    margin-bottom: 0px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-control:focus{
    height: 32px;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar-btn{
    margin-top: -1px;
    height:31px;
}

.mini-logo{
    width: 40px;
    margin-top: 5px;
    margin-left: 40px;

}

.password-input{
    font-size:20px;
}

::-webkit-input-placeholder {
font-size: 14px !important;
}

:-moz-placeholder { /* Firefox 18- */
font-size: 14px !important;
}

::-moz-placeholder {  /* Firefox 19+ */
font-size: 14px !important;
}

:-ms-input-placeholder {
font-size: 14px !important;
}

/*___________________________________________________________________________________________*/

#wrapper {
    padding-left: 150px;
    transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    margin-left: -150px;
    left: 150px;
    width: 150px;
    background: transparent;
    position: fixed;
    height: 100%;
    overflow-y: visible;
    z-index: 1000;
    transition: all 0.4s ease 0s;
}

#wrapper.active {
    padding-left: 0;

}

#wrapper.active #sidebar-wrapper {
    left: 0;
}

#page-content-wrapper {
    width: 100%;
}



.sidebar-nav {
    position: absolute;
    top: 0;
    width: 150px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-align: right;
    background-color: rgb(132, 180, 220);
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    padding-right: 20px;

}

.sidebar-nav li a span:before {
    position: absolute;
    left: 0;
    color: #41484c;
    text-align: center;
    width: 20px;
    line-height: 18px;
}

.sidebar-nav li.active {
    font-size: 22px;
    font-weight: bold;
    margin-right: -30px;
    color: rgba(71, 71, 71, 0.82);
    background: white;
    text-decoration: none;

}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    line-height: 60px;
    font-size: 18px;
}

.inactive{
    box-shadow: -5px 5px 6px -4px rgba(0, 0, 0, 0.4) inset;
}


.inactive:hover, .inactive:focus {
    opacity: 0.8;
    color:white;
}

.nav>li>a:hover, .nav>li>a:focus {
    background-color: transparent;
    color:inherit;
    cursor: pointer;
}

.remaining{
    background-color: transparent !important;
    height:5000px;
}

.content-header {
    height: 65px;
    line-height: 65px;
}

.content-header h1 {
    margin: 0;
    margin-left: 20px;
    line-height: 65px;
    display: inline-block;
}

#menu-toggle {

}

.btn-menu {
    color: #000;
}

.inset {
    padding: 20px;
}

a{
    color: inherit;
}

@media (max-width:767px) {

    #wrapper {
        padding-left: 0;
    }

    #sidebar-wrapper {
        left: 0;
    }

    #wrapper.active {
        position: relative;
        left: 150px;
    }

    #wrapper.active #sidebar-wrapper {
        left: 150px;
        width: 150px;
        transition: all 0.4s ease 0s;
    }

    #menu-toggle {
        display: inline-block;
    }

    .inset {
        padding: 15px;
    }

}

.vcenter{
    margin-top: 60px;
}

.container{
    position: fixed;
    width: 100%;
}

.wallpaper{
    max-width: 105%;

}

.menuIcon{
    max-width: 130%;
}

